{{ pageAddAsset('stylesheet', zasset('@KratorStreamModule:css/custom.css'), 120) }}

{% if streams is empty %}
	<div class="text-center">
		<a href="{{ url }}"><img alt="Twitch streaming" src="{{ zasset('@KratorStreamModule:images/twitchlogo.jpg') }}" /></a>
	</div>
{% else %}

<h4><i class="fa fa-fire" style="color: red;"></i>{% trans %}Hot Twitch Streams{% endtrans %}<i class="fa fa-fire" style="color: red;"></i></h4>

<div class="container">
	{% for stream in streams %}
		<div class="row">
			<div class="col-sm-1">
				<a href="{{ path('kratorstreammodule_game_display', { 'stream_id': stream.user_name }) }}" title="{{ stream.title }}">
					<div class="img-responsive">
						<img src="{{ stream.thumbnail_url }}">
					</div>
				</a>
			</div>
			<div class="col-sm-3">
				<a href="{{ path('kratorstreammodule_game_display', { 'stream_id': stream.user_name }) }}" title="{{ stream.title }}">
					<div style="text-align: left;">
						{{ stream.title|u.truncate(38, false) }}
					</div>
				</a>
			</div>
		</div>
	{% else %}
		<tr class='z-datatableempty'><td colspan='6' class='z-center'>{% trans %}No current streams.{% endtrans %}</td></tr>
	{% endfor %}
	</div>
</div>
{% endif %}