{{ pageAddAsset('stylesheet', zasset('@KratorStreamModule:css/custom.css'), 120) }}
{{ pageSetVar('title', game) }}

<div class="title">
	<center><h1><i class="fab fa-twitch"></i> {% trans %}List of Streams for{% endtrans %} {{ game }} <i class="fab fa-twitch"></i></h1></center>
</div>

<div class="container">
	<div class="row">
	{% set counter = 0 %}
	{% for stream in streams %}

		{% set counter = counter + 1 %}
		<div class="col-sm-3">
			<a href="{{ path('kratorstreammodule_game_display', { 'stream_id': stream.user_name }) }}" title="{{ stream.title }}">
				<div class="img-responsive">
					<img src="{{ stream.thumbnail_url }}">
				</div>
				<div style="text-align: center;">
					{{ stream.title }}
				</div>
			</a>
		</div>

		{% if counter is divisible by(4) %}
			</div>
			<div class="row">
			{# <div class="w-100"></div> #}
		{% endif %}
	{% else %}
		<tr class='z-datatableempty'><td colspan='6' class='z-center'>{% trans %}No current streams.{% endtrans %}</td></tr>
	{% endfor %}
	</div>
</div>
